{% extends 'encyclopedia/layout.html' %}
{% load markdown_extras %}

{% block title %}
    {{title}} - Wiki | Encyclopedia
{% endblock %}

{% block body %}
    {% if found %}
        <div id="edit_btn">
            <a href="#">Edit this page</a> <!--------------->
        </div>
        {{ entry | markdown | safe }}
    {% else %}
        <h1>{{title}}</h1>
        <form action="{% url 'encyclopedia:search' %}" method="POST">
            {% csrf_token %}
            <p class="not_found">
                <span>
                    Wiki does not have an article with this exact name.
                </span>
                <br>Please 
                <input type="hidden" name="q" value="{{ title }}">
                <button id= "hid_btn" type="submit">search for <i>{{title}}</i> in Encyclopedia
                </button> to check for alternative titles or spellings.
                <br>Or, You can create a new article 
                <a href="#">here</a>. <!-------------->
            </p>
        </form>
    {% endif %}
{% endblock %}
