{% extends 'encyclopedia/layout.html' %}

{% load markdown_extras %}
{% load static %}

{% block title %}
    {{title}} - Encyclopedia
{% endblock %}

{% block nav %}
    <div>
        <a href="{% url 'encyclopedia:edit' title=title %}">Edit this page</a>
    </div>
{% endblock %}

{% block body %}
    {% if not found %}
        <h1>{{title}}</h1>
        <form action="{% url 'encyclopedia:search' %}" method="GET">
            <p class="not_found">
                <span>
                    Wiki does not have an article with this exact name.
                </span>
                <input type="hidden" name="q" value="{{title}}">
                <br>Please <button type="submit" id="search_btn">
                 search for <i>{{title}}</i> in Encyclopedia
                 </button> to check for alternative titles or spellings.
                 <br>Or, You can create a new article 
                 <a href="{% url 'encyclopedia:create' %}">here</a>.
            </p>
        </form>
    {% else %}
        {{ entry | markdown | safe }}
    {%endif%}
{% endblock %}
